name: CI - Lint and Test

on:
  push:
    branches: [ main, dev, feature/* ]
  pull_request:
    branches: [ main, dev ]

jobs:
  lint_and_test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install flake8 black pytest

      - name: Lint with Flake8
        run: |
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
          flake8 . --count --exit-zero --max-complexity=10 --max-line-length=79 --statistics
        continue-on-error: true  # TEMPORARY - REMOVE ONCE WE FIX LINTING

      - name: Check formatting with Black
        run: black --check .
        continue-on-error: true  # TEMPORARY - REMOVE ONCE WE FIX LINTING

      - name: Run tests
        run: |
            export PYTHONPATH=$PYTHONPATH:$(pwd)
            pytest -v
        continue-on-error: true  # TEMPORARY - REMOVE ONCE WE FIX TESTING
